{% load static %}
<footer class="mt-4 footer">
    <div class="container">
        
        <div class="row copyrights py-3">
            <div class="col-md-1 text-left text-md-center"><img
                    src="{% static '/assets/img/logo/coat-of-ukraine-yellow-small.png' %}" class="zoda"></div>
            <div class="col-md-6">
                <p class="h4 mt-3 mt-md-0">Запорізька Обласна Державна Адміністрація</p>
                <p class="mb-0"><a href="https://goo.gl/maps/cnoeXXfZNVoHJ1ML6" target="_blank" rel="nofollow">пр.
                        Соборний, 164, м. Запоріжжя, 69107<i class="fa fa-external-link ml-2"></i></a></p>
            </div>
            <div class="col-6 col-md-2">
                <p class="h5 mb-2 mt-3 mt-md-0">Телефон/Факс: </p>
                <p class="mb-0"><a href="tel:+380505980935" class="text-nowrap">(050) 598 09 35</a></p>
            </div>
            <div class="col-6 col-md-2">
                <p class="h5 mb-2 mt-3 mt-md-0">Електрона пошта</p>
                <p class="mb-0"><a href="adm@zoda.gov.ua" class="text-nowrap">adm@zoda.gov.ua</a></p>
            </div>
        </div>
        <div class="row owner mt-3">
            <div class="col-md-1 text-left text-md-center">
                <div class="coat-of-ukraine"></div>
            </div>
            <div class="col-md-6">Власність Запорізької обласної державної адміністрації.<br>2023 рік</div>
            <div class="col-md-5 pt-3 pt-md-0">
                <div class="social-buttons"><a href="https://www.facebook.com/zoda.gov.ua/" target="_blank"
                        rel="nofollow" class="text-dark"><i class="fa fa-facebook-square"></i><span>Facebook
                            сторінка</span></a><a href="https://www.youtube.com/channel/UCY9gycMW-W6JggH7ksIPbjA"
                        target="_blank" rel="nofollow" class="text-dark"><i class="fa fa-youtube"></i><span>Youtube
                            канал</span></a><a href="https://t.me/zoda_gov_ua" target="_blank" rel="nofollow"
                        class="text-dark"><i class="fa fa-telegram"></i><span>Telegram канал</span></a><a
                        href="/rss" class="text-dark"><i class="fa fa-rss"></i><span>RSS стрічка</span></a></div>
            </div>
        </div>
        <div class="row about mt-3">
            <div class="col-md-1 text-left text-md-center">
                <div title="Версія порталу" class="about-version">3.4.1</div>
            </div>
            <div class="col-md-6">
                <p>Інформаційний супровід: Департамент інформаційної діяльності та комунікацій з громадськістю
                    облдержадміністрації <a href="mailto:uvpi@zoda.gov.ua" class="text-nowrap">uvpi@zoda.gov.ua</a>
                </p>
                <p>Технічний супровід: Відділ інформаційно-комп’ютерного забезпечення та захисту інформації апарату
                    облдержадміністрації <a href="mailto:adm@zoda.gov.ua" class="text-nowrap">adm@zoda.gov.ua</a>
                </p>
            </div>
            <div class="col-md-5">
                <div id="SinoptikInformer" style="width: 280px; display: block;"
                    class="SinoptikInformer type1 mx-auto mx-md-0 ml-md-auto">
                    <div class="siHeader">
                        <div class="siLh">
                            <div class="siMh"><a onmousedown="siClickCount();" href="https://ua.sinoptik.ua/"
                                    target="_blank" rel="nofollow" title="Погода" class="siLogo"></a>Погода <span
                                    id="siHeader">25.10.23, вечір</span></div>
                        </div>
                    </div>
                    <div class="siBody">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:100%;" class="siCityV"><a onmousedown="siClickCount();"
                                            href="https://ua.sinoptik.ua/погода-запоріжжя"
                                            title="Погода у Запоріжжі" target="_blank">
                                            <div class="siCityName"><span>Запоріжжя</span></div>
                                        </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="siCityV2 bg-white"><a onmousedown="siClickCount();"
                            href="https://ua.sinoptik.ua/погода-запоріжжя" title="Погода у Запоріжжі"
                            target="_blank">
                            <div id="siCont0" class="siBodyContent">
                                <div class="siLeft">
                                    <div class="siTerm"></div>
                                    <div id="siT0" class="siT">+12°</div>
                                    <div id="weatherIco0" class="weatherIco n430"></div>
                                </div>
                                <div class="siInf">
                                    <p>вологість: <span id="vl0">90%</span></p>
                                    <p>тиск: <span id="dav0">747 мм</span></p>
                                    <p>вітер: <span id="wind0">7.0 м/с, <span class="wind wind-SE"
                                                title="південно-східний"></span></span></p>
                                </div>
                            </div>
                        </a></div>
                    <div class="siLinks bg-white">Погода на 10 днів від <a
                            href="https://ua.sinoptik.ua/погода-запоріжжя/10-днів" title="Погода на 10 днів"
                            target="_blank" onmousedown="siClickCount();"> sinoptik.ua</a></div>
                </div>
                <div class="siFooter">
                    <div class="siLf">
                        <div class="siMf"></div>
                    </div>
                </div>
                <script type="text/javascript" charset="UTF-8"
                    src="//sinoptik.ua/informers_js.php?title=4&amp;wind=3&amp;cities=303008769&amp;lang=ua"></script>
            </div>
        </div>
        <div class="row license mt-3 mb-5">
            <div class="col-md-1 text-left text-md-center">
                <div class="copyrights-cc"></div>
            </div>
            <div class="col-md-6">Увесь вміст доступний за ліцензією <a
                    href="https://creativecommons.org/licenses/by/4.0/deed.uk" target="_blank"
                    rel="nofollow">Creative Commons Attribution 4.0 International license</a>, якщо не зазначено
                інше</div>
            <div class="col-md-5"></div>
        </div>
    </div>
</footer>