{% load static %}
<header id="top">
    <div class="container bg-white">
        <nav class="navbar navbar-expand-lg navbar-light d-flex align-content-between px-0">
            <div id="logo-slider">
                <div class="navbar-brand-logo owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(-190px, 0px, 0px); transition: all 0.25s ease 0s; width: 570px;">
                            <div class="owl-item cloned" style="width: 85px; margin-right: 10px;"><a href="/"
                                    class="navbar-brand-icon"><img src="{% static '/assets/img/logo/gerb-ukraine-square.png' %}"
                                        alt="Герб України" class="float-left mr-2"></a></div>
                            <div class="owl-item cloned" style="width: 85px; margin-right: 10px;"><a href="/"
                                    class="navbar-brand-icon"><img src="{% static '/assets/img/logo/zoda.png' %}"
                                        alt="Запорізька область" class="d-block"></a></div>
                            <div class="owl-item active" style="width: 85px; margin-right: 10px;"><a href="/"
                                    class="navbar-brand-icon"><img src="{% static '/assets/img/logo/gerb-ukraine-square.png' %}"
                                        alt="Герб України" class="float-left mr-2"></a></div>
                            <div class="owl-item active" style="width: 85px; margin-right: 10px;"><a href="/"
                                    class="navbar-brand-icon"><img src="{% static '/assets/img/logo/zoda.png' %}"
                                        alt="Запорізька область" class="d-block"></a></div>
                            <div class="owl-item cloned" style="width: 85px; margin-right: 10px;"><a href="/"
                                    class="navbar-brand-icon"><img src="{% static '/assets/img/logo/gerb-ukraine-square.png' %}"
                                        alt="Герб України" class="float-left mr-2"></a></div>
                            <div class="owl-item cloned" style="width: 85px; margin-right: 10px;"><a href="/"
                                    class="navbar-brand-icon"><img src="{% static '/assets/img/logo/zoda.png' %}"
                                        alt="Запорізька область" class="d-block"></a></div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                aria-label="Previous">‹</span></button><button type="button" role="presentation"
                            class="owl-next"><span aria-label="Next">›</span></button></div>
                    <div class="owl-dots disabled"></div>
                    <div class="owl-thumbs"></div>
                </div>
            </div><a id="logo-text" href="/" class="navbar-brand d-flex align-items-center"><span
                    class="zoda-brand text-uppercase"><span class="zoda-brand-name mt-2">Запорізька</span><span
                        class="zoda-brand-text">Обласна Державна Адміністрація</span></span></a><button
                type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Меню"
                class="navbar-toggler border-0 pr-0 text-dark hamburger hamburger--spin"><span
                    class="hamburger-box"><span class="hamburger-inner"></span></span></button>
            <div id="navbarNavDropdown" class="collapse navbar-collapse flex-column align-items-center">
                <div class="d-flex flex-column align-items-start">
                    <div class="order-lg-1 w-100">
                        <div class="social-buttons"><a href="https://www.facebook.com/zoda.gov.ua/" target="_blank"
                                rel="nofollow" class="text-dark"><i class="fa fa-facebook-square"></i><span>Facebook
                                    сторінка</span></a><a
                                href="https://www.youtube.com/channel/UCY9gycMW-W6JggH7ksIPbjA" target="_blank"
                                rel="nofollow" class="text-dark"><i class="fa fa-youtube"></i><span>Youtube
                                    канал</span></a><a href="https://t.me/zoda_gov_ua" target="_blank"
                                rel="nofollow" class="text-dark"><i class="fa fa-telegram"></i><span>Telegram
                                    канал</span></a><a href="/rss" class="text-dark"><i
                                    class="fa fa-rss"></i><span>RSS стрічка</span></a></div>
                    </div>
                    <div class="d-none d-md-block order-lg-2">
                        <div id="blindmode-wrapper"><a id="blindmode-toggler" role="button" href="#"><i
                                    class="fa fa-eye fa-lg mr-2"></i>Людям із порушенням зору</a>
                            <div role="group" aria-label="Версія для людей із порушенням зору"
                                class="btn-group mt-1"><button id="blindmode-toggler-mode-1" type="button"
                                    title="Зменшити розмір тексту" class="btn btn-outline-primary"><i
                                        class="fa fa-minus"></i></button><button id="blindmode-toggler-mode-0"
                                    type="button" title="Повернутись до нормального перегляду сайта"
                                    class="btn btn-outline-primary"><i class="fa fa-time"></i>Стандартна
                                    версія</button><button id="blindmode-toggler-mode-2" type="button"
                                    title="Збільшити розмір тексту" class="btn btn-outline-primary"><i
                                        class="fa fa-plus"></i></button></div>
                        </div>
                    </div>
                </div>
                    <div class="mt-3 d-lg-none">
                    <div class="govua navbar navbar-expand-lg"><a href="#" data-toggle="dropdown" data-target="govua" aria-haspopup="true" aria-expanded="false" class="govua-btn d-flex"><span class="govua-icon"></span><span class="govua-text"><strong>gov.ua</strong><span>Державні сайти України</span></span></a>
                        <div aria-labelledby="govua" class="dropdown-menu">
                            <a href="https://www.president.gov.ua/" target="_blank" rel="nofollow" class="dropdown-item">Президент України</a>
                                <a href="https://www.rada.gov.ua/" target="_blank" rel="nofollow" class="dropdown-item">Верховна Рада України</a>
                                <a href="http://www.ccu.gov.ua" target="_blank" rel="nofollow" class="dropdown-item">Конституційний Суд України</a>
                                <a href="https://www.kmu.gov.ua/catalog" target="_blank" rel="nofollow" class="dropdown-item">Інші органи виконавчої влади</a>
                                <a href="https://www.rnbo.gov.ua/" target="_blank" rel="nofollow" class="dropdown-item">Рада національної безпеки і оборони України</a>
                            </div>
                    </div>
                </div>
            </div>
            
            <div class="d-none d-lg-block">
                <div class="govua navbar navbar-expand-lg"><a href="#" data-toggle="dropdown" data-target="govua"
                        aria-haspopup="true" aria-expanded="false" class="govua-btn d-flex"><span
                            class="govua-icon"></span><span class="govua-text"><strong>gov.ua</strong><span>Державні
                                сайти України</span></span></a>
                    <div aria-labelledby="govua" class="dropdown-menu"><a href="https://www.president.gov.ua/"
                            target="_blank" rel="nofollow" class="dropdown-item">Президент України</a><a
                            href="https://www.rada.gov.ua/" target="_blank" rel="nofollow"
                            class="dropdown-item">Верховна Рада України</a><a href="http://www.ccu.gov.ua"
                            target="_blank" rel="nofollow" class="dropdown-item">Конституційний Суд України</a><a
                            href="https://www.kmu.gov.ua/catalog" target="_blank" rel="nofollow"
                            class="dropdown-item">Інші органи виконавчої влади</a><a href="https://www.rnbo.gov.ua/"
                            target="_blank" rel="nofollow" class="dropdown-item">Рада національної безпеки і оборони
                            України</a></div>
                </div>
            </div>
        </nav>
    </div>
</header>